body {
    color: black;
}

.margin-top {
    margin-top: 6em;
}

.form-group {
}

.play_cat {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.play_cat li {
    border: 1px solid white;
    border-radius: 1em;
    color: black;
    padding: 6px;
    text-transform: capitalize;

}

.play_cat .active {
    background: red;
    color: white;
}


.play_cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    column-count: 2;
    padding: 0;
    margin: 0;
}

.play_cards li {
    border: 1px solid black;
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    line-height: 10px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

.play_cards img {
    width: 100%;
}


.play_cards li:hover .img_underlay {
   opacity: 0.5;
}
.play_name {
    position: relative;
    top: -160%;
}

.img_underlay {
    position: relative;
    top: -100%;
    /*width: 100%;*/
    height: 100%;
    background: hsl(0, 0%, 0%);
    opacity: 0;
    transition: opacity .25s;
}

/*Play Template*/

/*.play_title,*/
/*.play_author,*/
/*.play_edition {*/
    /*text-align: center;*/
/*}*/

.play_container {
    background: #e1dac8;
}

.play {
    padding-left: 15px;
    padding-right: 15px;
    /*font-family: 'Times New Roman';*/
}

.title {
    font-size: 2em;
}

.playwright {
    font-size: 1.5em;
}

.title,
.playwright,
.acttitle,
.stagedir,
.edition,
.finis {
    text-align: center;
}

.stagedir,
.nameref {
    font-style: italic;
}

.speaker {
    /*padding-left: 15px;*/
    clear: both;
    float: left;
    font-style: normal;
    font-variant: small-caps;
    font-size: 10pt;
    line-height: 20px;
    padding-right: 10px;
    /*width: 75px;*/
}

.line {
    padding-left: 30px;
}

.speaker,
.finis {
    font-weight: bold;
}

.acttitle,
.stagedir {
    margin: 10px 0 10px;
}

.nameref {
    display: inline;
}

.epilogue {
    padding-left: 30px;
    font-weight: bold;
    font-style: italic;
}

.epilogue .line {
    padding-left: 0;
}

