<!--<div class="play_container" ng-bind-html="play | unsafe" >-->
<!--</div>-->

<spinner name="loadSpinner" class="spinner" show="loading" img-src="img/loading.gif"></spinner>

<div dynamic="play"></div>
<spinner name="loadSpinner" class="spinner" show="loading" img-src="img/loading.gif"></spinner>
<div class="right_container" ng-show="!loading">
    <div class="right">
    <div class="step_zero">
        <div><i class="fa fa-reply" aria-hidden="true"></i></div>
        <span ng-class="{'line-through': dictionary.step_one_done}">Click a line to examine the meaning</span>
    </div>
    <div class="step_one" ng-class="{'visible': dictionary.step_two_visible}">
        <span ng-class="{'line-through': dictionary.step_two_done}">Click the Examine button and choose a word below to select it. </span>
    </div>
    <div class="step_two" ng-class="{'visible': dictionary.step_three_visible}">
        <span ng-class="{'line-through': dictionary.step_three_done}">Click the button to lookup the definiton </span>
    </div>
    <!--<div class="step_three" ng-class="{'visible': sth_Visible}">-->
        <!--<span>Click a defintion to view its contents </span>-->
    <!--</div>-->
    <div class="text" dynamic="examinedText" ng-class="{'visible': dictionary.dict_visible}"></div>
    <div class="right_top" ng-class="{'visible': dictionary.dict_right_top_visible}">
        <form class="dictForm" ng-submit="button_clicked || lookupWord($event)">
            <!--<input type="text" ng-model="name" />-->
            <label class="btn btn-primary" ng-click="button_clicked || lookupWord($event)" ng-disabled="button_clicked">Define</label>
            <!--<span dynamic="dictionary.sel_word"></span>-->
            <input type="text" ng-model="dictionary.sel_word" ng-change="toggleButton()" ui-keypress="{enter: 'lookupWord($event)'}">
            <!--<br />-->
            <!--<input type="text" ng-model="email" />-->
        </form>
        <!--<label class="btn btn-primary" ng-click="button_clicked || lookupWord($event)" ng-disabled="button_clicked">Define</label>-->
        <!--&lt;!&ndash;<span dynamic="dictionary.sel_word"></span>&ndash;&gt;-->
        <!--<input type="text" ng-model="dictionary.sel_word" ng-change="toggleButton()" ui-keypress="{enter: 'lookupWord($event)'}">-->
    </div>
    <div class="right_middle" ng-class="{'visible': dictionary.dict_right_middle_visible, 'reducedHeight': !def_cards.length, 'curved_bottom_border': !def_cards.length }">
        <h4>Definitions</h4>
        <span ng-show="!def_cards.length">
            <p>
                            No results.
            </p>
        </span>
    </div>
    <div class="container_def_card" ng-class="{'visible': def_cards.length, 'curved_bottom_border': !sug_cards.length}">
        <ul class="listDefCards" ng-show="def_cards.length" ng-repeat="(key, value) in def_cards | groupBy: 'date'" >
           <span ng-show="key != 'undefined'"><b>Date: {{ key }}</b></span>
            <!--<li class="def_card" id="dc_{{ $index }}" ng-repeat="d in def_cards track by $index" ng-click="displayDef(d)">-->
            <li class="def_card" id="dc_{{ $index }}" ng-repeat="card in value">
                <p>
                    <!--{{ title(d) }}-->
                    <span ng-show="def_cards.length > 1"><span>{{ card.def }}</span></span>
                </p>
            </li>
        </ul>
    </div>
    <div class="right_bottom" ng-class="{'visible': dictionary.dict_right_bottom_visible}">
        <hr>
        <h4>Suggestions</h4>
        <span><i>Click a word to select</i> - {{ sug_cards.length }}</span>
        <div class="container_sug">
            <ul ng-show="sug_cards.length" class="ul_sug_card">
                <li class="sug_card" id="sug_{{ $index }}" ng-repeat="s in sug_cards track by $index">
                    <!--<p>-->
                    <span class="sug_word" ng-show="sug_cards.length > 1"ng-click="chooseWord($event)">{{ s }}</span>
                    <!--</p>-->
                </li>
            </ul>
            <div class="arrow_down blink_me" ng-show="sug_cards.length > 21">
                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <!--<div class="right_bottom" ng-class="{'visible': dict_right_bottom_visible}">-->
        <!--<div class="definition">-->
            <!--<p ng-show="definition">-->
                <!--"{{ definition }}"-->
            <!--</p>-->
            <!--<p ng-show="!definition">-->
                <!--Definition-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
    </div>
</div>