<!--<div class="play_header">-->
    <!--<h1 class="play_title">{{ play.title._short }}</h1>-->
    <!--<h2 class="play_author"> by {{ play.playwright}}</h2>-->
    <!--<h3 class="play_edition"> {{ play.edition }}</h3>-->
<!--</div>-->
<!--<div class="play_body">-->
    <!--<div class="act_header" ng-repeat="act in play.act"> {{ act.acttitle }}-->
        <!--<div ng-repeat="l in act.scene.speech">-->
            <!--<div ng-repeat="s in l"> {{ parseLine(s) }}-->
            <!--</div>-->
            <!--&lt;!&ndash;<div ng-repeat="s in stagedir">{{ s }}</div>&ndash;&gt;-->
        <!--</div>-->

    <!--</div>-->

<!--</div>-->

<div class="play_container" ng-bind-html="play | unsafe"></div>



